/* General CSS codes */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* cursor: url('img/neovisionlab-cursor.png'), auto; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
    background: #dcdff9;
}

/* .font-Inter {
    font-family: 'Inter', sans-serif !important;
}

.font-Barlow {
    font-family: 'Barlow', sans-serif !important;
} */

.font-Raleway {
    font-family: 'Raleway', sans-serif !important;
}

.font-OpenSans {
    font-family: 'Open Sans', sans-serif !important;
}

.margin-right-small {
    margin-right: 1.6rem !important;
}

@media(prefers-reduced-motion) {
    .hidden {
        opacity: 0;
        filter: blur(2px);
        transform: translateY(-10%);
        transition: all 1s ease-in-out;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.company-name {
    color: #525FE1;
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.6rem 3.2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-primary:link,
.btn-primary:visited {
    background: #525FE1;
    color: #fcfcfc;
}

.btn-primary:hover,
.btn-primary:active {
    background: #39439e;
    color: #fcfcfc;

}

.btn-secondary:link,
.btn-secondary:visited {
    /* border: 2px solid #525FE1; */
    color: #525FE1;
    background: #fcfcfc;
}

.btn-secondary:hover,
.btn-secondary:active {
    box-shadow: inset 0 0 0 3px #525FE1;
    background: transparent;
}

.heading-primary {
    height: 12rem;
    box-sizing: content-box;
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 1.1;
    color: #21265a;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.heading-secondary {
    font-size: 4.2rem;
    font-weight: 800;
    line-height: 1.2;
    color: #21265a;
    /* margin-bottom: 1.6rem; */
}

.heading-tertiary {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    color: #39439e;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: #525FE1;
    letter-spacing: 1px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    gap: 9.6rem;
}

.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5-col {
    grid-template-columns: repeat(5, 1fr);
}

a:link,
a:visited {
    text-decoration: none;
}