/* Index Page */

/* Top Bar */
.top-bar {
    background: #10132d;
    color: #fcfcfc;
    width: 100vw;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    position: fixed;
    top: 0;
    z-index: 10;
    letter-spacing: 1px;
    /* border-bottom: 5px solid #525FE1; */
}

.designer a {
    color: #525FE1;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ----------------------------------------------------------- */

/* Nav section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #525FE1;
    /*Because we want nav to be sticky so we gibe a specific heightr*/
    height: 9.6rem;
    padding: 0 6.4rem;
    width: 90%;
    /* margin: 2rem auto 0; */
    border-radius: 0 0 10px 10px;
    z-index: 10;
    box-shadow: 0 10px 20px -5px rgba(82, 95, 255, .125);
    position: fixed;
    top: 4.8rem;
}

.logo {
    height: 5.4rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #0EED94;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 10px;
    color: #525FE1;
    background: #fcfcfc;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background: #dcdff9;
    box-shadow: 1px 1px 3px #dcdff9;
}

.mobile-nav {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 6.2rem;
    background: #525FE1;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    box-shadow: 0 -10px 20px 5px rgba(82, 95, 255, .125);
    border: 2px solid #eeeffc;
}

.mobile-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    align-items: center;
}

.mobile-nav-link:link,
.mobile-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 600;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    height: 100%;
}

.mobile-nav-link:hover,
.mobile-nav-link:active {
    color: #0eed94;
}

/* ----------------------------------------------------------- */

/* Hero section */
main {
    margin-top: 15rem;
}

.section-hero {
    padding: 9.6rem 0;
    /* height: 100vh; */
}

.hero {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9rem;
    align-items: center;
}

.words {
    overflow: hidden;
}

.words span {
    font-size: 4.4rem;
    display: inline-block;
    height: 100%;
    font-weight: 600;
    animation: spin_words 12s infinite ease-in-out;
    animation-delay: 1s, 2s;
}

.words span:nth-child(odd) {
    color: #525fe1;
}

@keyframes spin_words {
    10% {
        transform: translateY(-130%);
    }

    25% {
        transform: translateY(-120%);
    }

    35% {
        transform: translateY(-240%);
    }

    50% {
        transform: translateY(-230%);
    }

    60% {
        transform: translateY(-340%);
    }

    75% {
        transform: translateY(-330%);
    }

    85% {
        transform: translateY(-460%);
    }

    95% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

.hero-description {
    font-size: 2rem;
    margin-bottom: 4.8rem;
    line-height: 1.5;
    text-align: justify;
    /* font-weight: 400; */
}

.hero-img {
    width: 100%;
}

.tech-preview {
    display: flex;
    margin-top: 6.4rem;
    align-items: center;
    gap: 1rem;
}

.tech-icons {
    display: flex;
    cursor: pointer;
}

.tech-icon {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 2px solid #fcfcfc;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.tech-icon:last-child {
    margin: 0;
}

.tech-icon:hover {
    z-index: 10;
    transform: scale(1.1);
    border: none;
    outline: none;
}

.tech-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: #39439e;
    text-decoration: none;
    letter-spacing: 1px;
}

/* --------------------------------------------------------- */

/* Tech Stack */

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.tech-stack {
    background: #fcfcfc;
    box-shadow: 0 -10px 20px -5px rgba(82, 95, 255, .125);
    margin: auto;
    overflow: hidden;
    width: 70%;
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
    white-space: nowrap;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.tech-stack:hover .slide {
    animation-play-state: paused;
}

.tech-stack::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    ;
}

.tech-stack::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    ;
}

.slide {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.slide img {
    height: 50px;
    margin: 0 50px;
}

/* ------------------------------------------------------- */

/* Who we are*/
.section-whoWeAre {
    padding: 9.6rem 0 4.8rem;
    background: #fcfcfc;
    margin: 0 auto;
    position: relative;

}

.who-we-are .heading-secondary {
    margin-bottom: 9.6rem;
}

.wwa-img-box {
    z-index: 1;
}

.wwa-img {
    width: 100%;

}

.wwa-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.wwa-text-box .btn-wwa {
    width: fit-content;
}

.section-whoWeAre::before {
    content: "";
    display: block;
    width: 75%;
    padding-bottom: 5%;
    background-color: #eeeffc;
    position: absolute;
    bottom: 4%;
    right: 0;
    z-index: 0;
}

.title-design {
    font-size: 5.8rem;
    font-weight: 800;
    color: #cbcff6;
    margin-bottom: 3.2rem;
    text-shadow: 2px -2px #525FE1;
    letter-spacing: 0.75px;
}

.wwa-description {
    font-size: 2rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 3.2rem;
}

/* --------------------------------------------------------- */

/* What we do */
.section-whatWeDo {
    padding: 9.6rem 0;
    background: #eeeffc;
    margin: 0 auto;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-we-do .btn-wwd {
    height: fit-content;
    margin: 3.2rem 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* text-transform: capitalize; */
}

.box {
    width: 280px;
    height: 400px;
    background: #fcfcfc;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(82, 95, 255, .125);
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: all 0.3s linear;
    cursor: context-menu;
}

.box h3 {
    font-size: 2.5rem;
    padding: 20px 0;
    color: #555;
    width: 100%;
    margin: 0 auto;
}

.box img {
    width: 80%;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
}

.box::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition: all 0.3s ease-in-out; */
}

.box::after {
    width: 100%;
    height: 100%;
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(16% at 90% 7%);
    transition: 0.4s;
}

.box .count {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 5rem;
    font-weight: 700;
    color: #fcfcfc;
}

.box:nth-child(2)::after {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.box:nth-child(3)::after {
    background-color: #979fed;
    background-image: linear-gradient(0deg, #979fed 0%, #525fe1 100%);
}

.box:nth-child(4)::after {
    background-color: #08aeea;
    background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

.box:hover::after {
    clip-path: circle(100%);
}

.box:hover {
    transform: scale(1.05);
}

.box:hover h3 {
    color: #fcfcfc;
}

.box:hover img {
    transform: scale(1.05);
}

/* ----------------------------------------------------------- */

/* Team */
.section-team {
    padding: 9.6rem 0;
    background: #4a56cb;
    margin: 0 auto;
}

.team-heading {
    margin-bottom: 4.8rem;
}

.team-heading .subheading,
.team-heading .heading-secondary {
    color: #fcfcfc;
}

.team-card {
    width: 100%;
    max-width: 144rem;
    overflow: hidden;
    padding: 0 6.4rem;
    border-radius: 10px;
    background: #525fe1 !important;
}

.swiper-btn {
    color: #525fe1;
    background-color: #eeeffc;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    --swiper-navigation-size: 3.2rem;
}

.swiper-button-next {
    right: 10;
}

.swiper-button-prev {
    left: 10;
}

.swiper-pagination-bullet {
    background: #eeeffc;
}

.card {
    position: relative;
    width: 30rem;
    /* Remove for full width */
    height: 45rem;
    /* Remove for full width */
    margin: 3rem auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #fcfcfc;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.card-header {
    position: relative;
    height: 85%;
    background-size: cover;
    background-position: top;
    border-radius: 10px 10px 0 0;
    transition: all 0.6s ease-in-out;
}

.card-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    border: none;
    overflow: hidden;
}

svg .polygon {
    fill: #fcfcfc;
}

.card-header-slanted-edge {
    position: absolute;
    bottom: -3px;
    z-index: 1;
    width: 100%;
    right: 0;
    left: 0;
}

.card-body {
    text-align: center;
    padding: 0 10px;
}

.name {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    color: #525FE1;
}

.job-title {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1.2rem;
    color: #333;
}

.bio {
    font-size: 1.4rem;
    color: #555;
    font-weight: 300;
    margin: 10px auto;
    line-height: 2rem;
}

.social-accounts {
    margin-top: 15px;
}

.social-accounts img {
    width: 25px;
}

.social-accounts a {
    margin-left: 10px;
}

.social-accounts a:first-child {
    margin-left: 0;
}

.card:hover .card-header {
    height: 25rem;
    border-radius: 10px 10px 0 0;
}

/* --------------------------------------------------------- */

/* What We have done */
.section-whatWeHaveDone {
    padding: 9.6rem 0;
    background: #fcfcfc;
    margin: 0 auto;
}

.what-we-have-done {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-we-have-done .btn-wwhd {
    height: fit-content;
    margin: 3.2rem 0;
}

.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-categories {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    border-radius: 10px;
    /* background: #eeeffc; */
    width: fit-content;
}

.work-category {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.4rem;
    color: #868fea;
    letter-spacing: 1px;
    border: 3px solid #868fea;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
}

.work-category:nth-child(n):hover {
    color: #424cb4;
    border: 3px solid #424cb4;
}

.work-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-top: 3.2rem;
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-card-container {
    width: 30rem;
    height: 30rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(82, 95, 255, .125);
    overflow: hidden;
}

.work-card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.work-card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1)
}

.work-card .front-content p {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #525fe1 0%, #868fea 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1)
}

.work-card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #525fe1 0%, #868fea 100%);
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(-96%);
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.work-card .content .heading {
    font-size: 3.2rem;
    font-weight: 700;
}

.work-card .content p {
    font-size: 1.4rem;
}

.work-card:hover .content {
    transform: translateY(0);
}

.work-card:hover .front-content {
    transform: translateY(30%);
}

.work-card:hover .front-content p {
    opacity: 0;
}

/* ------------------------------------------------ */

/* What our clients say */

.section-whatOurClientsSay {
    padding: 9.6rem 0;
    background: #eeeffc;
    margin: 0 auto;
}

.what-clients-say {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-clients-say .btn-wwhd {
    height: fit-content;
    margin: 3.2rem 0;
}

.section-testimonials {
    margin-top: 3.4rem;
}

.section-testimonials.grid {
    align-items: center;
    gap: 0;
}

.testimonials {
    padding: 3.4rem 7.4rem;
    width: 100%;
}

.testimonials-wrapper {
    width: 30vw;
}

.testimonials .swiper-pagination-bullet {
    background: #525FE1;
}

.testimonial {
    background: #525FE1;
    color: #f2f2f2;
    padding: 3.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 10px;
    align-items: start;
    height: 100%;
}

/* .testimonial.swiper-slide {
    width: fit-content;
} */

.testimonial-img {
    width: 10rem;
    border-radius: 10%;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: justify;
}

.testimonial-name {
    font-size: 2.4rem;
    font-weight: 600;
}

.client-company {
    font-size: 1.8rem;
    font-weight: 500;
}

.gallery {
    /* height: 50vh; */
    overflow: hidden;
    border-radius: 10px;
}

.row {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 2px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE 10 */
    flex: 25%;
    padding: 0 2px;
}

.column img {
    margin-top: 4px;
    vertical-align: middle;
    cursor: pointer;
}

/* .gallery-img {
    width: 50%;
} */

/* -------------------------------------------------------------------- */

/* Footer */
.footer {
    padding: 9.6rem 0;
    background: #525FE1;
    color: #fcfcfc;
    margin: 0 auto;
}

.grid-footer {
    grid-template-columns: 1.5fr 1.2fr 1fr 1.1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 2.4rem;
}

.foot-logo {
    height: 4.8rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    font-size: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #cbcff6;
    margin-top: auto;
    letter-spacing: 1px;
    line-height: 1.4;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4.2rem;
    letter-spacing: 2px;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
    font-family: 'Open Sans', sans-serif;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #cbcff6;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
}

.footer-link:hover,
.footer-link:active {
    color: #0EED94;
}